@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

.bodydiv {
  display: block;
  padding-inline: 1.5vw;
  margin-bottom: 10vh;
}

:root {
  --white: #fff;

  --grey1: #ebebeb;
  --grey2: #888;
  --grey3: #444;

  --dark1: #201d21;
  --dark2: #00171f;

  --accent1: #0774ab;
  --accent1-light: #b9d4e2;
  --accent1-dark: #023047;

  --accent2: #ffb703;
  --accent2-light: #ffdb65;
  --accent2-dark: #fb8500;

  --highlight: #84deff;
}

@theme layer {
  --color-white: var(--white);

  --color-grey1: var(--grey1);
  --color-grey2: var(--grey2);
  --color-grey3: var(--grey3);

  --color-dark1: var(--dark1);
  --color-dark2: var(--dark2);

  --color-accent1: var(--accent1);
  --color-accent1-light: var(--accent1-light);
  --color-accent1-dark: var(--accent1-dark);

  --color-accent2: var(--accent2);
  --color-accent2-light: var(--accent2-light);
  --color-accent2-dark: var(--accent2-dark);

  --color-highlight: var(--highlight);
}

@font-face {
  font-family: "Albert";
  src: url("/fonts/AlbertSans.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto.ttf") format("truetype");
}

.fontheading {
  font-family: "Albert", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.fontbody {
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
}
